<div class="home">
  <h1>Bienvenido a la tienda Re-Use-It!!</h1>
  <h3>Recicla lo que ya no usas y vendelo! Reciclar es una forma de darle una segunda vida a los materiales.</h3>
  <h2>Click en cada categoria para ver productos</h2>
  <!-- Contenedor de los botones de categoría -->
  <div class="button-container">
    <button class="category-button" [routerLink]="['/producto', 1]">Vestuario</button>
    <button class="category-button" [routerLink]="['/producto', 2]">Hogar</button>
  </div>

    <!-- Imagen Principal y Mensaje -->
  <div class="hero-section">
    <img src="reciclar1.jpg" alt="Imagen Principal" class="hero-image" />
    <div class="hero-message">
     
      
    </div>
  </div>

  <!-- Footer con Redes Sociales -->
  <footer class="footer">
    <div class="footer-content">
      <p>&copy; 2024 Tienda Re-Use-It!!. Todos los derechos reservados.</p>
      <div class="social-media">
        <a href="https://facebook.com" target="_blank" class="social-icon">Facebook</a>
        <a href="https://twitter.com" target="_blank" class="social-icon">Twitter</a>
        <a href="https://instagram.com" target="_blank" class="social-icon">Instagram</a>
      </div>
    </div>
  </footer>
</div>